<!-- NavBar Section -->
<header>
  <nav class="nav-wrapper transparent z-depth-0">
    {{!-- <div class="container"> --}}
      <a href="#" class="sidenav-trigger" data-target="mobile-menu">
        <i class="material-icons white-text">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">


        {{!-- When Login Button or Sign Up button is pressed, the data goes to the database and the header then shows the "Fridge", "Favorites" and "Log Out" Buttons --}}

        <li><a href="#login" class="white-text login valign-wrapper modal-trigger">Log In</a></li>
        <li><a href="#signup" class="white-text signup valign-wrapper modal-trigger">Sign Up</a></li>
        <li><a href="#" class="white-text fridge valign-wrapper">Fridge</a></li>
        <li><a href="/favorites" class="white-text favorites valign-wrapper">Favorites</a></li>
        {{!-- <li><a href="#" class="white-text logout valign-wrapper">Log Out</a></li> --}}
        <li><a href="#" class="white-text valign-wrapper"></a></li>
      </ul>

      <ul class="sidenav grey lighten-2" id="mobile-menu">
        <li><a href="#login" class="blue-grey-text login text-darken-4 modal-trigger">Log In</a></li>
        <li><a href="#signup" class="blue-grey-text signup text-darken-4 modal-trigger">Sign Up</a></li>
        <li><a href="#" class="blue-grey-text text-darken-4">Fridge</a></li>
        <li><a href="/favorites" class="amber-accent-4">Favorites</a></li>
      </ul>
    {{!-- </div> --}}
  </nav>

  <!-- Background Image in Header -->

  <div class="center-align">
    <img src="./images/mish-mash-white.png" width="500" alt="Logo" id="top-logo">
  </div>
</header>

<!-- Modal PopUp Section -->

{{!-- This is the section that contains the IDs for the "login" and "signup" prompts --}}

<div class="modal modal1" id="login">
  <div class="modal-content">
    <h2>Existing Users Sign In</h2>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="user_name_login" type="text" class="validate">
            <label for="user_name">User Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password_login" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="left-align" id="modal-footer">
    {{!-- When the "login" button is clicked the information is added to the database --}}
    <a href="#" id="login_submit" class="modal-close btn amber accent-4">Log In</a>
  </div>
</div>

<div class="modal modal2" id="signup">
  <div class="modal-content">
    <h2>Sign Up</h2>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="user_name_signup" type="text" class="validate">
            <label for="user_name">User Name</label>
          </div>
          {{!-- <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div> --}}
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password_signup" type="password" class="validate">
<<<<<<< Updated upstream
            <label for="password">Password</label>
=======
            <label for="password_confirm">Password</label>
>>>>>>> Stashed changes
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password_confirm" type="password" class="validate">
            <label for="password">Retype Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="left-align" id="modal-footer">
    {{!-- When the "sign up" button is clicked the information is added to the database --}}
    <a href="#" id="signup_submit" class="modal-close btn amber accent-4">Sign Up</a>
  </div>
</div>

<div class="modal modal3" id="search">
  <div class="modal-content">
    <h2>Let's Add These to Your Fridge!</h2>
    <h6>By signing in, your Fridge's ingredients are saved for future visits.</h6>
  </div>

  <div class="left-align" id="modal-footer">
    {{!-- When the login or sign up buttons are clicked, the modals from above should populate --}}
    <a href="#login" id="modal-login" class="modal-close btn amber accent-4">Log In!</a>
    <a href="#signup" id="modal-signup" class="modal-close btn amber accent-4">Sign Up!</a>
  </div>
</div>

{{!-- Nothing needs to happen with the about information --}}

<div class="about-content">
  <div class="about">
    <h2>About</h2>
    <img src="./images/mish-mash-icon-yellow-new.png" width="50" alt="Icon" id="icon">
    <br><br>
     <p class="subhead">Perfect for when your fridge gets a little strange...
      </p>
    <p class="about-text">All of us have been there one time or another, staring into the pantry or refrigerator and thinking, “There’s nothing to eat in this house.” Although you may feel like your options are limited, generally people have 3 weeks worth of meals in their household. So how can you make great meals with those random ingredients  you may ask? Well worry no more, because Mish Mash is here to make your life much easier. 
      <br><br>
      Mish Mash is an ingredient-to-recipe application that takes in user input and provides them with the best recipe per their ingredients. Whether you’re looking for toppings for your avocado toast or what to do with that bag of rice, Mish Mash can assist in providing you with a variety of recipes. 
      <br><br>
      And its easy! All you have to do is select a category from the refrigerator below and select the ingredients you have and search for a recipe! See easy. We’re here to help. So let’s get cooking!
    </p>
  </div>
</div>
<br>

<!-- Categories Section -->

<div class="category-content">
  <div class="category">
    <h2>refrigerator</h2>
    <div class="row about buttons">
      <img src="./images/mish-mash-icon-yellow-new.png" width="50" alt="Icon" id="icon">
      <br><br><br><br>

      <p class="subhead">Please choose a category below to view a list of ingredients to add to your fridge
      </p><br><br><br>

      {{!-- When the separate category buttons are clicked, their choices need to appear, but the options need to stay during a full user experience, right now if you go to a separate page and then come back to home, the ingredients selected will be refreshed --}}
      <div class="col s4 l2">
        <button class="dairyBtn">
          <img src="./images/icon_milk.png" width="35">
        </button>
        <p class="types">Dairy</p>
      </div>
      <div class="col s4 l2">
        <button class="meatBtn">
          <img src="./images/icon_meat.png" width="35">
        </button>
        <p class="types">Meats</p>
      </div>
      <div class="col s4 l2">
        <button class="veggieBtn">
          <img src="./images/icon_carrot.png" width="35">
        </button>
        <p class="types">Veggies</p>
      </div>
      <div class="col s4 l2">
        <button class="pantryBtn">
          <img src="./images/icon_bread.png" width="35">
        </button>
        <p class="types">Pantry</p>
      </div>

      <div class="col s4 l2">
        <button class="seafoodBtn">
          <img src="./images/icon_fish.png" width="35">
        </button>
        <p class="types">Seafood</p>
      </div>

      <div class="col s4 l2">
        <button class="fruitBtn">
          <img src="./images/icon_apple.png" width="35">
        </button>
        <p class="types">Fruits</p>
      </div>
    </div>


    <br><br>

    <!-- Dairy Checkboxes Section -->
    <div class="dairy">
      <div id="dairy-ingred-menu" class="row">
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Eggs</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Butter</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Milk</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Yogurt</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Sour Cream</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Custard</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Cottage Cheese</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Cream Cheese</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Whipped Cream</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Half n Half</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Cheddar Cheese</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Mozzarella Cheese</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Swiss Cheese</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Provolone Cheese</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>American Cheese</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Brie Cheese</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Goat Cheese</span>
              </label>
            </p>
          </form>
        </div>

        <div class="prepend-here"></div>

        <div class="add-ingred input-field col s12 l4">
          {{!-- When a user types in a new ingredient and presses the + button, it needs to be added to the list with a check mark checked --}}

          <input placeholder="Name of Ingredient" id="dairy-ingredient" type="text" class="validate">
          <label for="ingredient">Add Additional Ingredient</label>
        </div>
        <div class="add-ingred input-field col s12 l2">
          <a class="btn-floating btn-small waves-effect waves-light z-depth-0 addition" data-category="dairy">
            <i class="material-icons add">add</i>
          </a>
        </div>
      </div>
    </div>

    <!-- Meat Checkboxes Section -->
    <div class="meat">
      <div id="meat-ingred-menu" class="row">
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Bacon</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Sausage</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Chorizo</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Hotdogs</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Duck</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Chicken</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Rabbit</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Veal</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Turkey</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Ground Turkey</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Ham</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Salami</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Pork Chops</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Lamb</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Steak</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Ground Beef</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Beef Jerky</span>
              </label>
            </p>
          </form>
        </div>

        <div class="prepend-here"></div>

        <div class="add-ingred input-field col s12 l4">
          {{!-- When a user types in a new ingredient and presses the + button, it needs to be added to the list with a check mark checked --}}

          <input placeholder="Name of Ingredient" id="meat-ingredient" type="text" class="validate">
          <label for="ingredient">Add Additional Ingredient</label>
        </div>
        <div class="add-ingred input-field col s12 l2">
          <a class="btn-floating btn-small waves-effect waves-light z-depth-0 addition" data-category="meat">
            <i class="material-icons add">add</i>
          </a>
        </div>
      </div>
    </div>

    <!-- Veggie Checkboxes Section -->
    <div class="veggies">
      <div id="veggie-ingred-menu" class="row">
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Broccoli</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Brussels Sprouts</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Cauliflower</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Carrots</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Kale</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Lettuce</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Spinach</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Celery</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Eggplant</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Bell Peppers</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Corn</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Beets</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Potatoes</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Sweet Potatoes</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Onions</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Squash</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Zucchini</span>
              </label>
            </p>
          </form>
        </div>

        <div class="prepend-here"></div>

        <div class="add-ingred input-field col s12 l4">
          {{!-- When a user types in a new ingredient and presses the + button, it needs to be added to the list with a check mark checked --}}

          <input placeholder="Name of Ingredient" id="veggies-ingredient" type="text" class="validate">
          <label for="ingredient">Add Additional Ingredient</label>
        </div>
        <div class="add-ingred input-field col s12 l2">
          <a class="btn-floating btn-small waves-effect waves-light z-depth-0 addition" data-category="veggies">
            <i class="material-icons add">add</i>
          </a>
        </div>
      </div>
    </div>

    <!-- Pantry Checkboxes Section -->
    <div class="pantry">
      <div id="pantry-ingred-menu" class="row">
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Pasta</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Cereal</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Almonds</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Cashews</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Pistachio</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Peanuts</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Lima Beans</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Rice</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Spices</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Alfredo Sauce</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Peanut Butter</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Maple Syrup</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Olive Oil</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Salt</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Sugar</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Potato Chips</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Bread</span>
              </label>
            </p>
          </form>
        </div>

        <div class="prepend-here"></div>

        <div class="add-ingred input-field col s12 l4">
          {{!-- When a user types in a new ingredient and presses the + button, it needs to be added to the list with a check mark checked --}}

          <input placeholder="Name of Ingredient" id="pantry-ingredient" type="text" class="validate">
          <label for="ingredient">Add Additional Ingredient</label>
        </div>
        <div class="add-ingred input-field col s12 l2">
          <a class="btn-floating btn-small waves-effect waves-light z-depth-0 addition" data-category="pantry">
            <i class="material-icons add">add</i>
          </a>
        </div>
      </div>
    </div>

    <!-- Seafood Checkboxes Section -->
    <div class="seafood">
      <div id="seafood-ingred-menu" class="row">
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Shrimp</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Scallops</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Clams</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Mussels</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Squid</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Crawfish</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Crab</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Lobster</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Catfish</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Cod</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Mahimahi</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Salmon</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Tilapia</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Smoked Trout</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Sardines</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Anchovies</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Tuna</span>
              </label>
            </p>
          </form>
        </div>

        <div class="prepend-here"></div>

        <div class="add-ingred input-field col s12 l4">
          {{!-- When a user types in a new ingredient and presses the + button, it needs to be added to the list with a check mark checked --}}

          <input placeholder="Name of Ingredient" id="seafood-ingredient" type="text" class="validate">
          <label for="ingredient">Add Additional Ingredient</label>
        </div>
        <div class="add-ingred input-field col s12 l2">
          <a class="btn-floating btn-small waves-effect waves-light z-depth-0 addition" data-category="seafood">
            <i class="material-icons add">add</i>
          </a>
        </div>
      </div>
    </div>

    <!-- Fruit Checkboxes Section -->
    <div class="fruit">
      <div id="fruit-ingred-menu" class="row">
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Apple</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Banana</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Orange</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Grapes</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}

        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Blackberries</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Blueberries</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Raspberries</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Strawberries</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Peach</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Pear</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Plum</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Pineapple</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Kiwi</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Mango</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Avocado</span>
              </label>
            </p>
          </form>
        </div>
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input type="checkbox" />
                <span>Dates</span>
              </label>
            </p>
          </form>
        </div>
        {{!-- </div> --}}
        {{!-- <div class="row"> --}}
        <div class="col s12 l3">
          <form action="#">
            <p>
              <label>
                {{!-- When the checkbox is checked, add that ingredient to the user "fridge" --}}
                <input id="checkbox" type="checkbox" />
                <span>Cherries</span>
              </label>
            </p>
          </form>
        </div>

        <div class="prepend-here"></div>

        <div class="add-ingred input-field col s12 l4">
          {{!-- When a user types in a new ingredient and presses the + button, it needs to be added to the list with a check mark checked --}}

          <input placeholder="Name of Ingredient" id="fruit-ingredient" type="text" class="validate">
          <label for="ingredient">Add Additional Ingredient</label>
        </div>
        <div class="add-ingred input-field col s12 l2">
          <a class="btn-floating btn-small waves-effect waves-light z-depth-0 addition" data-category="fruit">
            <i class="material-icons add">add</i>
          </a>
        </div>
      </div>
    </div>
    {{!-- When the "search" button is clicked, the list of first 6 recipes needs to appear below --}}
    <button class="btn waves-effect waves-light submit modal-trigger z-depth-0" a href="#search" id="submit"
      type="submit" name="action">Search for Recipes
      <i class="material-icons right">send</i>
    </button></a>
  </div>
</div>

{{!-- Items in green below need to be connected with the API. 
This is the recipe section on the main page --}}

<div class="recipe-content">
  <div class="recipes">
    <h2>Recipes</h2>
    <img src="./images/mish-mash-icon-yellow-new.png" width="50" alt="Icon" id="recipeIcon">
    <br><br><br>


    <div class="row">
      
      <div class="col s12 l4">
        {{#each recipe}}
        <div class="card">
          <div class="card-image">
<<<<<<< Updated upstream
            {{!-- <img src={{recipe-image}} alt="Recipe Image"> --}}
            <a href="" class="halfway-fab btn-floating pink pulse heart">
=======
            {{!-- Image needs to be grabbed by the API --}}
            {{!-- <img src={{recipe-image}} alt=""> --}}
            {{!-- <a href="" class="halfway-fab btn-floating pink pulse">
>>>>>>> Stashed changes
              <i class="material-icons">favorite</i>
            </a>
          </div>
          <div class="card-content">
<<<<<<< Updated upstream
            {{!-- <span class="card-title">{{recipe-name}}</span> --}}
=======
            {{!-- Recipe Name needs to be pulled from the API --}}
            {{!-- <span class="card-title">{{recipe-name}}</span> --}}
            {{!-- Missing Ingredients needs to be grabbed by the API --}}
>>>>>>> Stashed changes
            {{!-- <p>{{recipe-missing-ingredients}}</p> --}}
          </div>
          <div class="card-action">
            <a href="" class="blue-grey-text save text-lighten-1">Save</a>
            <a href="/recipe" class="blue-grey-text text-lighten-1">View Recipe</a>
          </div>
        </div>
<<<<<<< Updated upstream
        {{/each}}
=======
      </div>
      <div class="row">
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              {{!-- Image needs to be grabbed by the API --}}
              {{!-- <img src= {{recipe-image}} alt=""> --}}
            </div>
            <div class="card-content">
              {{!-- Recipe Name needs to be pulled from the API --}}
              {{!-- <span class="card-title">{{recipe-name}}</span> --}}
              {{!-- Missing Ingredients needs to be grabbed by the API --}}
              {{!-- <p>{{recipe-missing-ingredients}}</p> --}}
            </div>
            <div class="card-action">
              <a href="" class="blue-grey-text text-lighten-1">Save</a>
              {{!-- This will go to the Recipe Page with the a href being "/recipe" --}}
              <a href="/recipe" class="blue-grey-text text-lighten-1">View Recipe</a>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              {{!-- Image needs to be grabbed by the API --}}
              {{!-- <img src= {{recipe-image}} alt=""> --}}
              {{!-- <a href="" class="halfway-fab btn-floating pink pulse">
                <i class="material-icons">favorite</i>
              </a> --}}
            </div>
            <div class="card-content">
              {{!-- Recipe Name needs to be pulled from the API --}}
              {{!-- <span class="card-title">{{recipe-name}}</span> --}}
              {{!-- Missing Ingredients needs to be grabbed by the API --}}
              {{!-- <p>{{recipe-missing-ingredients}}</p> --}}
            </div>
            <div class="card-action">
              <a href="" class="blue-grey-text text-lighten-1">Save</a>
              {{!-- This will go to the Recipe Page with the a href being "/recipe" --}}
              <a href="/recipe" class="blue-grey-text text-lighten-1">View Recipe</a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              {{!-- Image needs to be grabbed by the API --}}
              {{!-- <img src= {{recipe-image}} alt=""> --}}
              {{!-- <a href="" class="halfway-fab btn-floating pink pulse">
                <i class="material-icons">favorite</i>
              </a> --}}
            </div>
            <div class="card-content">
              {{!-- Recipe Name needs to be pulled from the API --}}
              <span class="card-title">{{recipe-name}}</span>
              {{!-- Missing Ingredients needs to be grabbed by the API --}}
              {{!-- <p>{{recipe-missing-ingredients}}</p> --}}
            </div>
            <div class="card-action">
              <a href="" class="blue-grey-text text-lighten-1">Save</a>
              {{!-- This will go to the Recipe Page with the a href being "/recipe" --}}
              <a href="/recipe" class="blue-grey-text text-lighten-1">View Recipe</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                {{!-- Image needs to be grabbed by the API --}}
                {{!-- <img src= {{recipe-image}} alt=""> --}}
              </div>
              <div class="card-content">
                {{!-- Recipe Name needs to be pulled from the API --}}
                <span class="card-title">{{recipe-name}}</span>
                {{!-- Missing Ingredients needs to be grabbed by the API --}}
                {{!-- <p>{{recipe-missing-ingredients}}</p> --}}
              </div>
              <div class="card-action">
                <a href="" class="blue-grey-text text-lighten-1">Save</a>
                {{!-- This will go to the Recipe Page with the a href being "/recipe" --}}
                <a href="/recipe" class="blue-grey-text text-lighten-1">View Recipe</a>
              </div>
            </div>
          </div>
          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                {{!-- Image needs to be grabbed by the API --}}
                {{!-- <img src= {{recipe-image}} alt=""> --}}
                {{!-- <a href="" class="halfway-fab btn-floating pink pulse">
                  <i class="material-icons">favorite</i>
                </a> --}}
              </div>
              <div class="card-content">
                {{!-- Recipe Name needs to be pulled from the API --}}
                <span class="card-title">{{recipe-name}}</span>
                {{!-- Missing Ingredients needs to be grabbed by the API --}}
                {{!-- <p>{{recipe-missing-ingredients}}</p> --}}
              </div>
              <div class="card-action">
                <a href="" class="blue-grey-text text-lighten-1">Save</a>
                {{!-- This will go to the Recipe Page with the a href being "/recipe" --}}
                <a href="/recipe" class="blue-grey-text text-lighten-1">View Recipe</a>
              </div>
            </div>
          </div>
        </div>
>>>>>>> Stashed changes
      </div>

      {{!-- The next 6 results pulled from the API will be shown once the "submit" button is clicked --}}
      <button class="btn waves-effect waves-light z-depth-0" id="seeMore" type="submit" name="action">See More
        Results
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>

{{!-- Nothing needs to happen with the footer below --}}

<footer class="page-footer footer">
  <div class="container">
    <div class="row">
      <div class="col l9 s3">
        <img src="./images/mish-mash-logo.png" width="125" alt="Icon" id="footerIcon">
      </div>
      <div class="col l3 s7 offset-s2 valign-wrapper" id="social">
        <ul>
          <li>
            <a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li><a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Facebook">
              <i class="fab fa-facebook"></i></a></li>
          <li><a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Pinterest">
              <i class="fab fa-pinterest"></i></a></li>
          <li><a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Twitter">
              <i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./js/app.js"></script>

<script>
  $(document).ready(function () {
    console.log('ready');


    $('.sidenav').sidenav();

  });
</script>